@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

nav ul {
    background-color:  #001D2D;
    margin-top: 0;
    text-align: end;
}
nav ul li {
    display: inline-block;
    color: white;
    padding: 5px 10px;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.crear {
    background-color: #00669F;
    margin-left: 30%;
    margin-top: 50px;
    width: 800px;
    height: 700px;
    border-radius: 20px;
}

.crear h1, p {
    text-align: center;
    color: white;
}

fieldset label {
    display: inline-block;
    width: 48%;
    margin: 10px 5px;
    color: white;
}

fieldset input, select {
    display: inline-block;
    width: 48%;
    margin: 10px 5px;
    height: 63px;
    border-radius: 15px;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}
aside {
    font-family: 'Inter', sans-serif;
    background-color: #1CD1B0;
    padding: 0 2%;
    font-size: 20px;
    color:black;
    font-weight: 100;
}

header {
    font-family: 'Inter', sans-serif;
    background-color: #00669F;
    height: 80px;
    padding: 0.5% 2%;
    position: relative;
    z-index: 20;
    color: white;
    margin: 0;
    font-size: 25px;
}
header h3{
    padding-top: 1%;
}

.login {
    margin: 5% auto;
    max-width: 400px;
    padding: 20px;
}

.login h3{
    margin-bottom: 0;
}
#boton {
    border-radius: 23px;
    margin-top: 20px;
    background: #1CD1B0;
}


aside {
    background-color: #1CD1B0;
    font-size: 20px;
    padding: 0 2%;
}

fieldset {
    border: none;
    padding-left: 0;
    padding-top: 0;
}
footer {
    clear: both;
    background-color: #00669f;
    color: white;
    bottom: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-family: 'Roboto';
    font-weight: 20;
    padding-top: 0.3%;
}

#btn {
    background: #1cd1b0;
    border-radius: 23px;
    box-shadow: none;
    font-weight: bolder;
}
#btn1 {
    background: #1cd1b0;
    border-radius: 23px;
    box-shadow: none;
    font-weight: bolder;
    width: 48%;
}
#btn2 {
    background: #888888;
    border-radius: 23px;
    box-shadow: none;
    font-weight: bolder;
    width: 48%;
}



#usuario, #clave, #email {
    position: relative;
    left: 0;
}

p {
    text-align: center;
}

.fa-store {
    margin-right: 10px;
    color: #1CD1B0;
}

#email {
    justify-content: left;
    text-align: left;
}